<div class="column-right author">
  <section class="clearfix">
    <div class="img-wrapper">
      <img src="{{asset "images/avatar.png"}}" alt="me" />
    </div>
    <div class="info-wrapper">
      <h4><a href="{{@blog.url}}">chenjun</a></h4>
      <p class="author-meta"><i class="fa fa-map-marker"></i>北京海淀</p>
      <p>上帝为你关上一扇门的同时也会为你打开一扇窗！</p>
    </div>
  </section>
</div>