<footer class="site-footer">
  <div class="inner">
    <a class="subscribe" href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i>订阅</a>
    <section class="copyright">All content copyfight by <a href="/" target="_blank"><em>{{@blog.title}}</em></a> &copy; 2014</section>
  </div>
</footer>